@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        html, body {
            margin: 0;
            padding: 0;
        }

        .banner-container {
            position: relative;
            left: 50%;
            right: 50%;
            margin-left: -50vw;
            margin-right: -50vw;
            margin-top: -17px;
            width: 100vw;
            height: 400px;
            overflow: hidden;
        }


            .banner-container img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
            }
    </style>
</head>
<body>
    <div class="banner-container">
        <img src="~/Images/Kiddo.jpg" alt="Front page banner">
    </div>

    <div class="text-center mt-4">
        <h1 style="color:dimgray;">Welcome To Sunrise Shelter</h1>
    </div>

    <div class="container">
        <div class="row justify-content-center">

            <div class="col-md-3 mb-3">
                <div class="picture" style="border-radius: 30px; transition: transform 0.3s ease;">
                    <a asp-controller="Orphanage" asp-action="Index">
                        <img src="~/Images/House.jpg" class="picture-img-top" style="border-radius: 30px; alt="Orphanage Home">
                    </a>
                    <div class="picture-body">
                        <h5 class="picture-title">Our Orphanages</h5>
                    </div>
        </div>
    </div>

    <div class="container mt-5">
        <p>Contact Info:</p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
